.drawer {
    .MuiPaper-root {
        @media screen and (max-width: 576px) {
            height: 80%;
            padding: 20px;
        }
        height: 350px;
        justify-content: center;
        gap: 3rem;
        padding: 20px 20%;
    }

    &__sliders {
        @media screen and (max-width: 576px) {
            flex-direction: column;
            gap: 3rem;            
        }
    }
}

.MuiDrawer-paper {
    @media screen and (max-width: 576px) {
        max-width: 90%;
        .MuiBox-root {
            width: 300px;
        }
    }
}

.product-title {
    @media screen and (max-width: 576px) {
        max-width: 200px;
    }
}

.product-quantity-btns {
    @media screen and (max-width: 576px) {
        button {
            min-width: 24px;
        }
    }
}