.search-query {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__input {
        padding: 0 8px;
        margin-right: calc(1em + 32px);
    }

    &__btn {
        cursor: pointer;
    }
}