.top-bar {
    &__slogan {
        font-size: clamp(14px, 18px, 18px);
    }
}

.primary-bar__toolbar {
    display: flex;
    flex-direction: column;
}

.search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 8px;

    input {
        padding-left: 8px !important;
    }
}