main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  main {
    row-gap: 1rem;
  }
}

h2 {
  margin: 1rem 2rem 2rem 2rem;
  font-size: 32px;
}

body {
  background: #fafafa;
  color: #333;
}

.top-bar a, .top-bar a:visited, .top-bar a:focus, .top-bar a:focus-visible, .top-bar a:active {
  color: #333;
}

.catalogue {
  padding: 0 2rem 2rem 2rem;
  text-align: center;
}
.catalogue > button {
  height: 4rem;
  transform: translateX(-50%);
  transition: all 500ms;
}
.catalogue > button:hover {
  height: 4rem;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  row-gap: 3rem;
}
.product-list__item {
  height: 420px;
  width: 280px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-list__upper-part-modal {
  cursor: zoom-in;
}
.product-list img {
  object-fit: contain;
  transition: all ease-in-out 250ms;
}
.product-list img:hover {
  scale: 1.2;
}
.product-list__item--cta {
  display: flex;
  justify-content: space-between;
}
.product-list__item--title {
  font-size: 14px;
  height: 75px;
}
.product-list__rating-price {
  display: flex;
  justify-content: space-between;
}
.product-list__item--price {
  font-size: 20px;
  font-weight: 800;
}

.modal-box {
  display: flex;
}
@media screen and (max-width: 576px) {
  .modal-box {
    max-width: 70%;
    max-height: 80%;
    overflow: auto;
  }
}
@media screen and (max-width: 576px) {
  .modal-box__description button {
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .modal-box__price {
    flex-direction: column;
  }
}
@media screen and (max-width: 576px) {
  .modal-box__payment-img {
    display: none;
  }
}
.modal-box .col {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (max-width: 576px) {
  .modal-box .col {
    font-size: 14px;
  }
}
.modal-box .product-img {
  object-fit: contain;
  max-width: 90%;
}
.modal-box .rating {
  display: flex;
  align-items: center;
}
.modal-box .rating:nth-child(1) {
  margin-right: 10px;
}
.modal-box .rating + p {
  margin: 0;
}
@media screen and (max-width: 576px) {
  .modal-box .rating {
    flex-direction: column;
  }
}
.modal-box .label {
  text-transform: capitalize;
  font-style: italic;
  font-weight: 700;
}

.top-bar {
  padding: 5px;
}
@media screen and (min-width: 768px) {
  .top-bar {
    display: flex;
    justify-content: space-between;
  }
}
.top-bar a, .top-bar a:visited, .top-bar a:focus, .top-bar a:focus-visible, .top-bar a:active {
  display: block;
  color: #333;
  font-size: 18px;
}

@media screen and (max-width: 576px) {
  .primary-bar {
    margin-bottom: 20px;
  }
}
.primary-bar__toolbar {
  padding-top: 15px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .primary-bar__toolbar {
    flex-grow: 1;
    flex-direction: row;
  }
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
}
@media screen and (min-width: 768px) {
  .search {
    justify-content: flex-start;
  }
}
.search input {
  padding-left: 8px !important;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.drawer .MuiPaper-root {
  height: 350px;
  justify-content: center;
  gap: 3rem;
  padding: 20px 20%;
}
@media screen and (max-width: 576px) {
  .drawer .MuiPaper-root {
    height: 80%;
    padding: 20px;
  }
}
@media screen and (max-width: 576px) {
  .drawer__sliders {
    flex-direction: column;
    gap: 3rem;
  }
}

@media screen and (max-width: 576px) {
  .MuiDrawer-paper {
    max-width: 90%;
  }
  .MuiDrawer-paper .MuiBox-root {
    width: 300px;
  }
}

@media screen and (max-width: 576px) {
  .product-title {
    max-width: 200px;
  }
}

@media screen and (max-width: 576px) {
  .product-quantity-btns button {
    min-width: 24px;
  }
}

.categories-chip {
  justify-content: center;
}
@media screen and (max-width: 576px) {
  .categories-chip {
    flex-wrap: wrap;
    row-gap: 10px;
  }
}

html {
  scroll-behavior: smooth;
}

/*# sourceMappingURL=App.css.map */
